<a class="wordmark" href="/" aria-label="Axe Capital, home">
  <svg class="wordmark__mark" viewBox="0 0 64 64" aria-hidden="true" focusable="false"><path d="M32 8 50 56h-7.4l-4.3-11.6H25.7L21.4 56H14Zm0 12.4L27.8 38h8.4Z" fill="currentColor"/></svg>
  <span>Axe Capital</span>
</a>
